/* Navigation Bar styling */
    /* Navigation Container */
#navbar {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
  height: 40px;
  align-items: center;
}
    /* Search Bar Container */

    /* Search Bar */
#search-label, #search-input {
  font-size: 20px;
}
    /* Category Button */
.category-button {
  font-size: 20px;
}

.category-button:hover {
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 2px;
  cursor: pointer;
}


/* Product Display Styling */
    /* Display Title */
#category {
  color: red;
}
    /* Product Container */
#display-container-inner {
  display: flex;
  flex-wrap: wrap;
}
    /* Product */
.product {
  border: 1px solid black;
  width: 250px;
  height: 250px;
  margin: 20px;
  border-radius: 10px;
}
    /* Product Image */
.product-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  display: block;
  margin: 10px auto;
}
    /* Product Name */
.product-name {
  text-align: center;
}
    /* Product Price */
.product-price {
  text-align: center;
}